<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alarm Manager</title>
</head>
<body>
<h1>Google Calendar Alarm Manager</h1>
<div>
    <h2 id="hello-user">안녕하세요, 누구누구님</h2>
    <form id="test-login" action="/login">
        <button type="submit">google login</button>
    </form>
    <form id="test-logout" action="/logout">
        <button type="submit">google logout</button>
    </form>
    <br>
    <form id="test-request" action="/google-calendar/settings" method="get">
        <button type="submit">get setting</button>
    </form>
    <form id="get-calendar" action="/google-calendar/detail" method="get">
        <input type="text" name="calendarId" placeholder="calendar-id">
        <button type="submit">get calendar</button>
    </form>
    <form id="post-calendar-watch" action="/google-calendar/watch" method="post">
        <input type="text" name="calendarId" placeholder="calendarId">
        <input type="text" name="id" placeholder="id">
        <input type="text" name="address" placeholder="address">
        <input type="hidden" name="type" value="web_hook">
        <button type="submit">post watch</button>
    </form>
    <form action="/google-calendar/watch-stop" method="post">
        <input type="text" name="id" placeholder="id">
        <input type="text" name="resourceId" placeholder="resourceId">
        <button type="submit">watch stop</button>
    </form>
</div>
</body>
</html>